<h1>Hello World</h1>


<% if user_signed_in? %>
<P><%= link_to 'Editer votre compte', edit_user_registration_path, class: 'btn btn-default' %></P>
<P><%= link_to 'Deconnectez-vous', destroy_user_session_path, :method => :delete, class: 'btn btn-default' %></P>


<% else %>

<P><%= link_to 'Enregistrez-vous', new_user_registration_path, class: 'btn btn-default' %></P>
<P><%= link_to 'Connectez-vous', new_user_session_path, class: 'btn btn-default' %></P>

<% @tweets do |tweet| %>
   <%= tweet.text %>
<% end %>

<% end %>


